body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
/*** Header Section Saart */
.my-header .container{
    max-width: 1480px;
}
ul.my-menu{}
ul.my-menu li{
    margin-right: -4px;
}
ul.my-menu li a {
    text-decoration: none;
    display: inline-block;
    padding:10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #111;
    line-height: 47px;
}
.header-search {
    width: 60px;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 200px;
}
.headercall-icon span {
    display: inline-block;
    font-size: 28px;
    color: #e73c3e;
    position: relative;
    top: 3px;
    left: 0;
}
.headercall-info span {
    font-size: 16px;
    color: #606060;
    font-weight: 400;
    line-height: 1.5;
}
.headercall-info a {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #111;
    transition: all 0.3s;
}
ul.my-menu li:hover > a{
    color: #e73c3e;
}
ul.my-menu li:nth-child(1) a {
    color: #e73c3e;
}
/*** DropDown Menu Start ***/
ul.my-menu li{
    position: relative;
}
ul.my-menu li ul {
    position: absolute;
    top: 140%;
    left: 24px;
    width: 200px;
    background: #fff;
    list-style: none;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
ul.my-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 90%;
}
ul.my-menu li ul li a{
    line-height: 25px !important;
    transition: 0.3s;
    color: #111 !important;

}
ul.my-menu li ul li a:hover{
    letter-spacing: 1px;
    color: #e73c3e !important;
}
ul.my-menu ul li ul li:nth-child(2) a{
    color: #e73c3e !important;
}
/*** DropDown Menu End ***/
.btn-finix {
    position: relative;
    padding: 10px 40px;
    display: inline-block;
    background: #e73c3e;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

.btn-finix:hover {
    color: #fff;
}

.btn-finix span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    background: #111111;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    z-index: -1;
}

.btn-finix:hover span {
    width: 900px;
    height: 900px;
}

/*** Header Section End */
/*** Slider Section Start ***/
.slider{
    background: url(./img/asset\ 19.jpeg) no-repeat top center;
    background-size: cover;
    padding: 200px;
    background-attachment: fixed;
}
/* .slider .container{
    max-width: 115rem;
} */
.slider-wrap{
    height: 100vh;
    display: flex;
    justify-items: center;
    justify-content: flex-start;
}
.slider-content {
    position: relative;
    top: 0;
    left: -11.25rem
}
.slider-content span {
    color: #e73c3e;
    font-size: 18px;
    font-weight: 400;
}
.slider-content h1 {
    color: #111;
    font-size: 64px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.slider-content p {
    max-width: 650px;
    color: #606060;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 30px;
}
.slider-icon {
    margin-top: 180px;
}
.slider-icon ul li{
    list-style: none;
}
.slider-icon ul li span {
    color: #111;
    margin-right: 70px;
    position: relative;
    display: inline-block;
}
.slider-icon ul li span::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 91px;
    height: 1px;
    width: 36px;
    background: #111;
}
.slider-icon ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #111;
    font-size: 17px;
    transition: all 0.3s;
}
.slider-icon ul li a:hover{
    color: #e73c3e;
}
/*** Slider Section End ***/
/*** Carousel Section Start ***/
.carousel {
    margin: 90px 0;
}
.carousel ul{
    list-style: none;
}
/*** Carousel Section End ***/
/*** About Section Start ***/
.about{
    padding: 100px 0;
}
.about-image{
    position: relative;
}
.about-image img{}
.about-img-text {
    position: absolute;
    right: 70px;
    bottom: 0;
    background: url(./img/asset\ 20.png) no-repeat center;
    height: 200px;
    width: 200px;
    background-size: contain;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img-text h1 {
    font-size: 70px;
    color: #e73c3e;
    margin-bottom: 5px;
    line-height: 1;
}
.about-img-text span {
    font-size: 16px;
    font-weight: 500;
    color: #111;
}
.about-text{}
.about-text span {
    color: #e73c3e;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.about-text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 16px;
}
..about-text p {
    color: #606060;
    line-height: 1.8;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}
.about-text ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 25px;
}
.about-text ul li {
    font-size: 20px;
    color: #606060;
}
.about-text ul li span {
    font-size: 23px;
    display: inline-block;
    min-width: 28px;
}
.about-text strong {
    font-size: 18px;
    color: #606060;
    font-weight: 400;
}
/*** About Section  End ***/
/* Choose Area Section Start*/
.choose-area{
    background: #f9fafb;
    padding: 100px 0; 
}
.choose-image{
    position: relative;
}
.choose-title span {
    color: #e94a4c;
    line-height: 1.5;
    font-weight: 400;
}
.choose-title h2 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 16px;
}
.choose-title p {
    line-height: 1.8;
    font-size: 16px;
    color: #606060;
    font-weight: 400;
}
.choose-item{
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.6s;
}
.choose-item::before{
    content: "";
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
    width: 90%;
    height: 70%;
    background: #fdebeb;
    border-radius: 50%;
    margin: 0 auto;
}
.choose-item:hover{
    transform: translateY(-15px);
}
.choose-item:hover .choose-icon i{
    background: #e73c3e;
    color: #fff;
}
.choose-icon i {
    color: #e73c3e;
    font-size: 50px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.mar-top{
    margin-top: -30px;
}
.choose-icon h3 {
    font-weight: 500;
    color: #111;
}
.choose-icon p {
    color: #606060;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.animation-play {
    height: 90px;
    width: 90px;
    display: inline-block;
    font-size: 55px;
    background: #fff;
    text-align: center;
    line-height: 90px;
    border-radius: 50%;
    color: #e73c3e;
    position: absolute;
    right: 183px;
    transition: 0.5s;
    bottom: 48px;
}
.animation-play::before{
    content: "";
    position:  absolute;
    top: 0;
    left: 0px;
    background:#e73c3e;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    animation: play 1.6s ease-out infinite;
}
   


.animation-play:hover{
    background: #e73c3e;
    color: #fff;
    transition: all 0.5s;
}
@keyframes play{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
/* Choose Area Section End*/

/* Applay Now Section Start */
.applay-now-section {}
.applay-now-left-test {}

.step-timeline {}
.step-timeline ul {
    list-style: none;
    position: relative;
    padding-left: 60px;
}
.step-timeline ul::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 10px;
    width: 1px;
    background: #E73C3E;
    height: calc(100% - 100px);
}
.step-timeline ul li {
    margin-bottom: 25px;
    position: relative;
}
.step-timeline ul li::before {
    content: attr(data-counter);
    position: absolute;
    left: -65px;
    top: 0;
    height: 40px;
    width: 40px;
    background: #f9f9f9;
    border: 1px solid #e73a3e;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #e73a3e;
    font-weight: 700;
}
.step-timeline ul li strong {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
    color: #111;
}
.step-timeline ul li p {
    color: #606060;
}

.calculate-rate {
    background-color: #FDEBEB;
    padding: 30px;
}
.calculate-rate .choose-title {}
.calculate-rate .choose-title h6 {
    color: #606060;
}

.calculate-from .form-group {
    margin-bottom: 20px;
}
.calculate-from .form-group input {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.calculate-from .form-group select {
    border: none;
    border-radius: 5px;
    height: 50px;
}
.calculate-from .form-group label {
    display: block;
    margin-bottom: 10px;
}
/* Applay Now Section End */

/* Call To Action Section Start */
.call-to-action-bg {
    background-color: #E73C3E;
    padding: 50px;
    padding-bottom: 33px;
    color: #fff;
    border-radius: 6px;
}
.call-to-action-bg h2 {
    font-size: 36px;
    font-weight: 400;
    border-right: 1px solid #ddd;
}

.call-to-action-phone {
    margin-top: 16px;
}
.call-to-action-phone span {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fff;
    color: #E73C3E;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin-right: 22px;
}
.call-to-action-phone a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}
/* Call To Action Section End */

/* Our Company Values Section Start */
.company-values-text {}
.values-item {
    margin-bottom: 10px;
}
.values-item .values-icon {
    font-size: 40px;
    color: #E73C3E;
    margin-right: 30px;
}

.values-text {}
.values-text h3 {}
.values-text p {
    color: #606060;
}

.our-company-img {
    margin-top: 66px;
}
/* Our Company Values Section End */

/* Service Section Start */
.service-section {
    background: #f9fafb;
    padding: 100px 0;
}

.service-tab ul li button {
    border: none;
    background: none;
}

.service-tab-item {
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 42px !important;
}
.service-tab-item li {
    flex: 1 1 auto;
    margin-left: 25px;
}
.service-tab-item li button.active span  {
    color: #E73C3E;
}
.service-tab-item li button span {
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 30px;
    color: #666;
    margin-left: 20px;
}
.service-tab-item li button strong {
    color: #222;
    font-weight: 600;
    font-size: 20px;
}

.service-tab-content-text {
    padding-left: 30px;
}
.service-tab-content-text ul {
    list-style: none;
    padding-left: 0;
}
.service-tab-content-text ul li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 10px;
}
/* Service Section End */

/* Testimonial Section Start */
.testimonial-section {}

.testimonial-content {}
.testimonial-content p {
    font-size: 25px;
}

.client-details {}
.client-details h5 {
    color: #E73C3E;
}
.client-details p {
    margin-top: -12px;
}

.testimonial-image {}
.testimonial-image img {}
/* Testimonial Section End */

/* Team Section Start  */
.team-section {
    background: #FAFBFC;
}

.member-image {
    position: relative;
}
.member-image {}
.member-image img {
    width: 100%;
    height: auto;
}

.member-social-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.member-social-profile ul {
    text-align: center;
    padding-left: 0;
    list-style: none;
    margin-bottom: 25px;
}
.member-social-profile ul li {
    display: inline-block;
    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}
.member-image:hover .member-social-profile ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.member-image .member-social-profile ul li:nth-child(1) {
    transition-delay: .2s;
}
.member-image .member-social-profile ul li:nth-child(2) {
    transition-delay: .3s;
}
.member-image .member-social-profile ul li:nth-child(3) {
    transition-delay: .4s;
}
.member-image .member-social-profile ul li:nth-child(4) {
    transition-delay: .5s;
}
.member-social-profile ul li a {
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    color: #000;
    transition: .5s;
}
.member-social-profile ul li a:hover {
    color: #fff;
    background: #e73a3e;
}

.member-content {
    margin-top: 20px;
}
.member-content h4 {
    color: #e73a3e;
    margin-bottom: 5px;
    font-size: 20px;
}
.member-content p {
    color: #666;
}
/* Team Section End */

/* Blog Section Start */
.blog-item {}
.blog-thubnail {}
.blog-thubnail img {
    max-width: 100%;
}

.blog-content {
    padding: 12px 0;
}
.blog-content p {
    color: #E73C3E;
    font-size: 18px;
}
.blog-content h3 {
    margin-bottom: 22px;
}
.blog-content h3 {
    text-decoration: none;
    color: #111;
    font-size: 25px;
    transition: 0.5s;
}
.blog-content h3:hover {
    color: #e73a3e;
}
.blog-content a {
    color: #111;
    text-decoration: none;
    font-size: 18px;
    transition: .5s;
}

.blog-content a:hover {
    letter-spacing: 1.5px;
    color: #e73a3e;
}
/* Blog Section End */

/* Footer Section Start */
.footer {
    background-color: #111;
    color: #fff;
}
.footer a {
    color: #fff;
}

.footer-widget h3 {
    font-size: 20px;
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
}
.footer-widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-widget ul li {
    margin: 10px 0px;
}
.footer-widget ul li a {
    text-decoration: none;
    transition: .4s;
}
.footer-widget ul li a:hover  {
    letter-spacing: 1.5;
    color: #e73a3e;
}

.footer-top {
    border-bottom: 1px solid #666;
}

/* Footer Social */
.widget-social {}
.widget-social ul {
    display: flex;
}
.widget-social ul li {
    padding: 10px 0;
    margin: 0 !important;
}
.widget-social ul li span {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}
.widget-social ul li a {
    font-size: 20px;
    padding: 10px 10px;
}

.footer-contact {}
.footer-contact-item {
    margin-bottom: 20px;
}
.footer-contact-item span {
    display: inline-block;
    margin-right: 20px;
}
.footer-contact-item span i {}
.footer-contact-item a {
    text-decoration: none;
}

.footer-copyright p {
    margin-bottom: 0;
}
.footer-copyright p a {
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
}
.footer-copyright p a:hover {
    color: #e73a3e;
}
/* Footer Section End */

/* Breadcome Section Start */
.header-breadcome {
    padding: 120px 0;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
}
.header-breadcome::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(238, 233, 229, 0.6);
    z-index: -1;
}
/* Breadcome Section End */